body {
  margin: 0;
  background: #101010;
}

button {
  mix-blend-mode: difference;
  display: block;
  background: var(--white);
  border: 0;
  width: 40px;
  height: 40px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
button:hover {
  background: var(--accent-color);
  cursor: pointer;
}
