.form-wrapper {
  padding: 75px 25px;
  margin: 25px 0;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 50%);
  background: #ffffffaa;
}

.form-wrapper__input-wrapper {
  display: grid;
  padding: 50px;
  grid-template-columns: auto 1fr;
  grid-gap: 25px;
}

.input-wrapper__label {
  display: contents;
}


.input-wrapper__label input {
  padding:  5px;
  background: #ff0000bb;
  border: 0 solid #000;
  font-family: 'Fredoka One', cursive;
  color: var(--white);
  text-overflow: ellipsis;
}

.input-wrapper__label input::placeholder {
  font-family: 'Fredoka One', cursive;
  color: #f0f0f0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 17.5px;
  --x: 75px;
  text-indent: calc(var(--x) * -1);
  transform: translateX(var(--x));
  -webkit-transform: translateX(var(--x));
  -moz-transform: translateX(var(--x));
  -ms-transform: translateX(var(--x));
  -o-transform: translateX(var(--x));
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__switch {
  border-radius: 17.5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-border-radius: 17.5px;
  -moz-border-radius: 17.5px;
  -ms-border-radius: 17.5px;
  -o-border-radius: 17.5px;
}

.switch__switch:before {
  border-radius: 17.5px;
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch__switch {
  background-color: var(--accent-color);
}

input:focus + .switch__switch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch__switch:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
