.tabs-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.tabs-buttons__button-tab {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  background: transparent;
  font-size: 20px;
}

.tabs-buttons__button-tab[highlight='true'] {
  background: #ff0000aa;
  color: var(--black);
}

.tabs-buttons__button-tab:hover {
  color: var(--white);
  background: var(--accent-color);
}


.songs-container__tabs {
  position: relative;
}

.tabs__tab {
  position: absolute;
  margin: auto;
}
