:root {
  --accent-color: #f00;
  --white: #fff;
  --black: #101010;
  --gray: #bbb;
}

body {
  margin: 0;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/006/209/861/large/yannick-corboz-dfms-int-4.jpg?1496825047");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Fredoka One", cursive;
}

div, section {
  font-family: "Fredoka One", cursive;
}

button {
  font-family: "Fredoka One", cursive;
  mix-blend-mode: difference;
  display: block;
  background: var(--white);
  border: 0;
  width: 40px;
  height: 40px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

button:hover {
  background: var(--accent-color);
  cursor: pointer;
}

*[disabled] {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.audio-player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -260px;
  color: var(--white);
  padding: 100px 5%;
  background-color: #ff000088;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.45s;
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s;
}

.audio-player:hover {
  bottom: 0;
}

.audio-player__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  position: fixed;
  bottom: 25px;
  right: 25px;
  left: 25px;
}

.audio-player__middle {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin: 15px 0;
}

.audio-timeline {
  display: grid;
  margin: 15px 0;
  grid-template-columns: repeat(2, 1fr);
}

.audio-timeline i {
  mix-blend-mode: difference;
}

.audio-timeline__final {
  margin-left: auto;
}

.audio-bar {
  background: var(--white);
  height: 5px;
  margin: 5px 0;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  mix-blend-mode: difference;
}

.audio-bar__loader {
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--accent-color);
  transform: scale(0.35) translateX(-50px);
  -webkit-transform: scale(0.35) translateX(-50px);
  -moz-transform: scale(0.35) translateX(-50px);
  -ms-transform: scale(0.35) translateX(-50px);
  -o-transform: scale(0.35) translateX(-50px);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.song {
  display: grid;
  grid-template-columns: 75px 1fr;
}

.song__music-note {
  mix-blend-mode: difference;
  width: 50px;
  height: 50px;
  position: relative;
}

.song__music-note::after,
.song__music-note::before {
  content: "";
  background: var(--white);
  display: block;
  position: absolute;
}

.song__music-note::after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 30px;
  box-shadow: 35px 0 var(--white);
}

.song__music-note::before {
  width: 50px;
  height: 50px;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 75%, 90% 75%, 90% 10%, 30% 10%, 30% 75%, 20% 75%);
  clip-path: polygon(20% 0, 100% 0, 100% 75%, 90% 75%, 90% 10%, 30% 10%, 30% 75%, 20% 75%);
}

.song__title {
  background: #ff000088;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 10px;
  overflow: hidden;
}

.next,
.prev {
  -webkit-clip-path: polygon(75% 50%, 75% 0, 100% 0, 100% 100%, 75% 100%, 75% 50%, 0 100%, 0 0);
  clip-path: polygon(75% 50%, 75% 0, 100% 0, 100% 100%, 75% 100%, 75% 50%, 0 100%, 0 0);
}

.prev {
  transform: rotate(180deg) scale(0.75);
  -webkit-transform: rotate(180deg) scale(0.75);
  -moz-transform: rotate(180deg) scale(0.75);
  -ms-transform: rotate(180deg) scale(0.75);
  -o-transform: rotate(180deg) scale(0.75);
}

.next {
  margin-left: auto;
}

.play {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  margin: auto;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

.pause {
  -webkit-clip-path: polygon(60% 100%, 60% 0, 80% 0, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 20% 0, 40% 0, 40% 100%);
  clip-path: polygon(60% 100%, 60% 0, 80% 0, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 20% 0, 40% 0, 40% 100%);
}

.star {
  transform: scale(0.75);
  margin: 10px 0;
  margin-left: auto;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.songs-container {
  padding: 30px 10px;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-gap: 50px;
}

.songs-container__wrapper {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 25px;
  min-height: 40vh;
  max-height: 440px;
  overflow: auto;
}

.songs-container__songs-wrapper {
  min-height: 320px;
}

.songs-container__title {
  color: var(--white);
  background: #ff0000aa;
  padding: 5px 30px;
}

.songs-container__available-title {
  color: var(--black);
}

.songs-container__playlist {
  background: #ffffff88;
}

.play-song {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 10px -5px var(--gray);
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--black);
  padding: 2.5px 30px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  cursor: pointer;
}

.play-song + .play-song {
  margin: 25px 0;
}

.songs-container__playlist .play-song {
  background: var(--black);
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  -moz-text-decoration-color: var(--accent-color);
}

.songs-container__available-songs .play-song {
  background: var(--white);
  color: var(--black);
}

.play-song__title {
  height: 17px;
  overflow: hidden;
}

.songs-container__playlist .play-song__title::after {
  content: " in playlist";
  text-transform: lowercase;
  color: var(--accent-color);
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

.tabs-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.tabs-buttons__button-tab {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  background: transparent;
  font-size: 20px;
}

.tabs-buttons__button-tab[highlight=true] {
  background: #ff0000aa;
  color: var(--black);
}

.tabs-buttons__button-tab:hover {
  color: var(--white);
  background: var(--accent-color);
}

.songs-container__tabs {
  position: relative;
}

.tabs__tab {
  position: absolute;
  margin: auto;
}

.form-wrapper {
  padding: 25px;
  margin: 25px 0;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 50%);
  background: #ffffffaa;
}

.form-wrapper__button {
  border: 0;
  padding: 10px 50px;
  color: var(--white);
  font-size: 20px;
  float: left;
  text-transform: uppercase;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  background: #ff0000aa;
}

.form-wrapper__button:hover {
  background: var(--accent-color);
  cursor: pointer;
}

.form-wrapper__input-wrapper {
  display: grid;
  padding: 50px;
  grid-template-columns: auto 1fr;
  grid-gap: 25px;
}

.input-wrapper__label {
  display: contents;
}

.input-wrapper__label input {
  padding: 5px;
  background: #ff0000bb;
  border: 0 solid #000;
  font-family: "Fredoka One", cursive;
  color: var(--white);
  text-overflow: ellipsis;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

.input-wrapper__label input::placeholder {
  font-family: "Fredoka One", cursive;
  color: #f0f0f0;
}

.input-wrapper__label input:focus {
  background: #ffffffaa;
  color: var(--black);
}
.input-wrapper__label input:focus::placeholder {
  color: var(--accent-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 17.5px;
  --x: 75px;
  text-indent: calc(var(--x) * -1);
  transform: translateX(var(--x));
  -webkit-transform: translateX(var(--x));
  -moz-transform: translateX(var(--x));
  -ms-transform: translateX(var(--x));
  -o-transform: translateX(var(--x));
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__switch {
  border-radius: 17.5px;
  position: absolute;
  cursor: pointer;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-border-radius: 17.5px;
  -moz-border-radius: 17.5px;
  -ms-border-radius: 17.5px;
  -o-border-radius: 17.5px;
}

.switch__switch:before {
  border-radius: 17.5px;
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

input:checked + .switch__switch {
  background-color: var(--accent-color);
}

input:focus + .switch__switch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch__switch:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.tabs {
  position: relative;
}

.tabs__tab {
  position: absolute;
  width: 80%;
  margin: auto;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
